{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Hubert Furmański - Programowanie w Internecie</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href = "{% static 'css/main.css' %}" type = "text/css"/>
</head>

<body>
    <div class="main">
        <header>
            <div id="logo">
                <a href="#">
                    <img src="{% static 'images/logo.png' %}" style="height: 14vh;" alt="Logo">
                </a>
            </div>
        </header>
            <div class="mainContent">
                <div id="ph1"></div>
                <div id="buttonContainer">
                    <a href="#content">
                        <div class="przycisk_menu" onclick="wyswietlPD()">Prace domowe</div>
                    </a>
                    <a href="#content">
                        <div class="przycisk_menu" onclick="wyswietlKontakt()">Kontakt</div>
                    </a>
                    <a href="#">
                        <div class="przycisk_menu"><a href="{% static 'kod.zip' %}" download="kod.zip" target="_blank">Kod Strony</a></div>
                    </a>
                    <a href="#">
                        <div class="przycisk_menu" onclick="wyswietlMain()">Moje projekty</div>
                    </a>
                </div>
            </div>
        <div id="content">&nbsp;</div>
        <section id="zadanieContent" style="display: none;">
            <div>
                <h1 style="text-align:center; font-size: 40px; margin-top: 150px; margin-bottom: 50px;">Kółko i krzyżyk
                </h1>
                <div class="divTabela">
                    <div class="divTabelaRow">
                        <div class="divTabelaCell">
                            <div id="w1k1" onclick="ustawZnak(this.id)">&nbsp;</div>
                        </div>
                        <div class="divTabelaCell">
                            <div id="w1k2" onclick="ustawZnak(this.id)">&nbsp;</div>
                        </div>
                        <div class="divTabelaCell">
                            <div id="w1k3" onclick="ustawZnak(this.id)">&nbsp;</div>
                        </div>
                    </div>
                    <div class="divTabelaRow">
                        <div class="divTabelaCell">
                            <div id="w2k1" onclick="ustawZnak(this.id)">&nbsp;</div>
                        </div>
                        <div class="divTabelaCell">
                            <div id="w2k2" onclick="ustawZnak(this.id)">&nbsp;</div>
                        </div>
                        <div class="divTabelaCell">
                            <div id="w2k3" onclick="ustawZnak(this.id)">&nbsp;</div>
                        </div>
                    </div>
                    <div class="divTabelaRow">
                        <div class="divTabelaCell">
                            <div id="w3k1" onclick="ustawZnak(this.id)">&nbsp;</div>
                        </div>
                        <div class="divTabelaCell">
                            <div id="w3k2" onclick="ustawZnak(this.id)">&nbsp;</div>
                        </div>
                        <div class="divTabelaCell">
                            <div id="w3k3" onclick="ustawZnak(this.id)">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="przyciskContainer">
                    <div class="przycisk" onclick="start()">Start</div>
                    <div class="przycisk" onclick="reset()">Reset</div>
                </div>
            </div>
        </section>
        <section id="kontakt" style="display: none;">
            <h2 style="margin-top: 155px; margin-left: 10px;">Kontakt </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante ante, volutpat in diam et,
                convallis sodales nisi. Donec a suscipit lacus. Aliquam tellus ex, rhoncus ut dignissim vitae, aliquam
                in felis. Curabitur efficitur porta odio vitae tincidunt. Maecenas congue, lacus et hendrerit
                condimentum, mi dolor dapibus mi, accumsan interdum dolor metus nec mauris. Nullam facilisis enim et leo
                fringilla egestas. Curabitur convallis scelerisque nisl, sed dapibus ligula porta id. In sed nibh urna.
                Vivamus molestie aliquet purus, at tempor dui bibendum nec. Nulla dapibus nulla et leo auctor, eget
                facilisis nisl dapibus. Mauris dapibus sem sed mollis tempus. Donec ullamcorper leo sem, at aliquam dui
                dignissim non.

                Maecenas id orci diam. Donec vestibulum at metus in volutpat. Donec bibendum venenatis ultricies. Nunc
                pulvinar posuere tellus. Aenean elit arcu, dictum a sollicitudin at, lacinia sed risus. Cras convallis
                consectetur volutpat. Nam posuere posuere lacus sed tristique. Maecenas rutrum risus massa, ac porta
                turpis blandit at. Fusce ac lacus tempus, tincidunt leo quis, pretium turpis. Nunc elementum elit
                vestibulum, posuere est sit amet, semper enim. Etiam vel lectus orci. In hac habitasse platea dictumst.
                Maecenas eleifend elit in leo rutrum vulputate.

                Nam accumsan, urna quis tempus auctor, velit mi ultricies lectus, sit amet efficitur diam diam vel enim.
                Pellentesque condimentum neque vel eros sagittis, vitae condimentum augue placerat. Donec in pretium
                metus. Vivamus metus nunc, rhoncus et felis vitae, tincidunt congue mi. Proin sit amet dignissim felis,
                in hendrerit enim. Etiam finibus, felis in egestas varius, libero ligula rutrum turpis, vel mattis
                tortor arcu ut elit. Duis non sem posuere ante ornare laoreet a sit amet mauris. Ut justo nisl, sagittis
                tempus luctus et, pulvinar in diam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante ante, volutpat in diam et,
                convallis sodales nisi. Donec a suscipit lacus. Aliquam tellus ex, rhoncus ut dignissim vitae, aliquam
                in felis. Curabitur efficitur porta odio vitae tincidunt. Maecenas congue, lacus et hendrerit
                condimentum, mi dolor dapibus mi, accumsan interdum dolor metus nec mauris. Nullam facilisis enim et leo
                fringilla egestas. Curabitur convallis scelerisque nisl, sed dapibus ligula porta id. In sed nibh urna.
                Vivamus molestie aliquet purus, at tempor dui bibendum nec. Nulla dapibus nulla et leo auctor, eget
                facilisis nisl dapibus. Mauris dapibus sem sed mollis tempus. Donec ullamcorper leo sem, at aliquam dui
                dignissim non.

                Maecenas id orci diam. Donec vestibulum at metus in volutpat. Donec bibendum venenatis ultricies. Nunc
                pulvinar posuere tellus. Aenean elit arcu, dictum a sollicitudin at, lacinia sed risus. Cras convallis
                consectetur volutpat. Nam posuere posuere lacus sed tristique. Maecenas rutrum risus massa, ac porta
                turpis blandit at. Fusce ac lacus tempus, tincidunt leo quis, pretium turpis. Nunc elementum elit
                vestibulum, posuere est sit amet, semper enim. Etiam vel lectus orci. In hac habitasse platea dictumst.
                Maecenas eleifend elit in leo rutrum vulputate.

                Nam accumsan, urna quis tempus auctor, velit mi ultricies lectus, sit amet efficitur diam diam vel enim.
                Pellentesque condimentum neque vel eros sagittis, vitae condimentum augue placerat. Donec in pretium
                metus. Vivamus metus nunc, rhoncus et felis vitae, tincidunt congue mi. Proin sit amet dignissim felis,
                in hendrerit enim. Etiam finibus, felis in egestas varius, libero ligula rutrum turpis, vel mattis
                tortor arcu ut elit. Duis non sem posuere ante ornare laoreet a sit amet mauris. Ut justo nisl, sagittis
                tempus luctus et, pulvinar in diam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante ante, volutpat in diam et,
                convallis sodales nisi. Donec a suscipit lacus. Aliquam tellus ex, rhoncus ut dignissim vitae, aliquam
                in felis. Curabitur efficitur porta odio vitae tincidunt. Maecenas congue, lacus et hendrerit
                condimentum, mi dolor dapibus mi, accumsan interdum dolor metus nec mauris. Nullam facilisis enim et leo
                fringilla egestas. Curabitur convallis scelerisque nisl, sed dapibus ligula porta id. In sed nibh urna.
                Vivamus molestie aliquet purus, at tempor dui bibendum nec. Nulla dapibus nulla et leo auctor, eget
                facilisis nisl dapibus. Mauris dapibus sem sed mollis tempus. Donec ullamcorper leo sem, at aliquam dui
                dignissim non.

                Maecenas id orci diam. Donec vestibulum at metus in volutpat. Donec bibendum venenatis ultricies. Nunc
                pulvinar posuere tellus. Aenean elit arcu, dictum a sollicitudin at, lacinia sed risus. Cras convallis
                consectetur volutpat. Nam posuere posuere lacus sed tristique. Maecenas rutrum risus massa, ac porta
                turpis blandit at. Fusce ac lacus tempus, tincidunt leo quis, pretium turpis. Nunc elementum elit
                vestibulum, posuere est sit amet, semper enim. Etiam vel lectus orci. In hac habitasse platea dictumst.
                Maecenas eleifend elit in leo rutrum vulputate.

                Nam accumsan, urna quis tempus auctor, velit mi ultricies lectus, sit amet efficitur diam diam vel enim.
                Pellentesque condimentum neque vel eros sagittis, vitae condimentum augue placerat. Donec in pretium
                metus. Vivamus metus nunc, rhoncus et felis vitae, tincidunt congue mi. Proin sit amet dignissim felis,
                in hendrerit enim. Etiam finibus, felis in egestas varius, libero ligula rutrum turpis, vel mattis
                tortor arcu ut elit. Duis non sem posuere ante ornare laoreet a sit amet mauris. Ut justo nisl, sagittis
                tempus luctus et, pulvinar in diam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante ante, volutpat in diam et,
                convallis sodales nisi. Donec a suscipit lacus. Aliquam tellus ex, rhoncus ut dignissim vitae, aliquam
                in felis. Curabitur efficitur porta odio vitae tincidunt. Maecenas congue, lacus et hendrerit
                condimentum, mi dolor dapibus mi, accumsan interdum dolor metus nec mauris. Nullam facilisis enim et leo
                fringilla egestas. Curabitur convallis scelerisque nisl, sed dapibus ligula porta id. In sed nibh urna.
                Vivamus molestie aliquet purus, at tempor dui bibendum nec. Nulla dapibus nulla et leo auctor, eget
                facilisis nisl dapibus. Mauris dapibus sem sed mollis tempus. Donec ullamcorper leo sem, at aliquam dui
                dignissim non.

                Maecenas id orci diam. Donec vestibulum at metus in volutpat. Donec bibendum venenatis ultricies. Nunc
                pulvinar posuere tellus. Aenean elit arcu, dictum a sollicitudin at, lacinia sed risus. Cras convallis
                consectetur volutpat. Nam posuere posuere lacus sed tristique. Maecenas rutrum risus massa, ac porta
                turpis blandit at. Fusce ac lacus tempus, tincidunt leo quis, pretium turpis. Nunc elementum elit
                vestibulum, posuere est sit amet, semper enim. Etiam vel lectus orci. In hac habitasse platea dictumst.
                Maecenas eleifend elit in leo rutrum vulputate.

                Nam accumsan, urna quis tempus auctor, velit mi ultricies lectus, sit amet efficitur diam diam vel enim.
                Pellentesque condimentum neque vel eros sagittis, vitae condimentum augue placerat. Donec in pretium
                metus. Vivamus metus nunc, rhoncus et felis vitae, tincidunt congue mi. Proin sit amet dignissim felis,
                in hendrerit enim. Etiam finibus, felis in egestas varius, libero ligula rutrum turpis, vel mattis
                tortor arcu ut elit. Duis non sem posuere ante ornare laoreet a sit amet mauris. Ut justo nisl, sagittis
                tempus luctus et, pulvinar in diam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante ante, volutpat in diam et,
                convallis sodales nisi. Donec a suscipit lacus. Aliquam tellus ex, rhoncus ut dignissim vitae, aliquam
                in felis. Curabitur efficitur porta odio vitae tincidunt. Maecenas congue, lacus et hendrerit
                condimentum, mi dolor dapibus mi, accumsan interdum dolor metus nec mauris. Nullam facilisis enim et leo
                fringilla egestas. Curabitur convallis scelerisque nisl, sed dapibus ligula porta id. In sed nibh urna.
                Vivamus molestie aliquet purus, at tempor dui bibendum nec. Nulla dapibus nulla et leo auctor, eget
                facilisis nisl dapibus. Mauris dapibus sem sed mollis tempus. Donec ullamcorper leo sem, at aliquam dui
                dignissim non.

                Maecenas id orci diam. Donec vestibulum at metus in volutpat. Donec bibendum venenatis ultricies. Nunc
                pulvinar posuere tellus. Aenean elit arcu, dictum a sollicitudin at, lacinia sed risus. Cras convallis
                consectetur volutpat. Nam posuere posuere lacus sed tristique. Maecenas rutrum risus massa, ac porta
                turpis blandit at. Fusce ac lacus tempus, tincidunt leo quis, pretium turpis. Nunc elementum elit
                vestibulum, posuere est sit amet, semper enim. Etiam vel lectus orci. In hac habitasse platea dictumst.
                Maecenas eleifend elit in leo rutrum vulputate.

                Nam accumsan, urna quis tempus auctor, velit mi ultricies lectus, sit amet efficitur diam diam vel enim.
                Pellentesque condimentum neque vel eros sagittis, vitae condimentum augue placerat. Donec in pretium
                metus. Vivamus metus nunc, rhoncus et felis vitae, tincidunt congue mi. Proin sit amet dignissim felis,
                in hendrerit enim. Etiam finibus, felis in egestas varius, libero ligula rutrum turpis, vel mattis
                tortor arcu ut elit. Duis non sem posuere ante ornare laoreet a sit amet mauris. Ut justo nisl, sagittis
                tempus luctus et, pulvinar in diam.
            </p>
        </section>
        <footer>
            <p>Hubert Furmański</p>
            <p>Copyright © 2020</p>
        </footer>
    </div>
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>